@{
    ViewBag.Title = "登录页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <script>
        require([commonjs], function (common) {
            require(["login"]);
        });
    </script>
    <link rel="stylesheet" href="/css/app/login.css" />
}

<div class="container">
    <form name="mobilePswLoginForm" class="form-signin" action="/Login/UserLogin" method="post">
        <h2 class="form-signin-heading">会员登录</h2>
        <label for="inputMobile" class="sr-only">手机</label>
        <input type="tel" id="inputMobile" class="form-control" value="13695035321" maxlength="11" name="mobile" placeholder="手机" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" value="123456" name="password" placeholder="密码" required>
        <label for="inputCode" class="sr-only">验证码</label>
        <input type="text" id="inputCode" class="form-control" maxlength="4" name="imageCode" placeholder="验证码" required>
        <img id="ImageCode" class="reset_captcha_img" src="">
        <a id="btnImageCode" class="btn-link reset_captcha_refresh">看不清？换一张</a>
        <button id="mobilePswBtn" class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <label class="ftx24"><a href="/Register/">免费注册</a></label>
    </form>
</div>
