body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="tel"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.reset_captcha_img {
    float: left;
    width: 77px;
    height: 33px;
    margin-left: 5px;
    cursor: pointer;
}

.btn-link:hover {
    text-decoration: underline;
    color: #feca02;
}

.reset_captcha_refresh {
    float: left;
    margin: 10px 0 0 5px;
}

.btn-link {
    color: #7ac5fa;
    cursor: pointer;
}


#entry .ftx24 {
    color: #f8b551;
    float: right;
}

    #entry .ftx24 a {
        color: #feca02;
        font-size: 14px;
        margin: 0 5px;
    }

        #entry .ftx24 a:hover {
            text-decoration: underline;
        }
